@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Avenir';
	src: url(../../public/fonts/AvenirLight.ttf);
	font-weight: 300;
}

@font-face {
	font-family: 'Avenir';
	src: url(../../public/fonts/AvenirRegular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Avenir';
	src: url(../../public/fonts/AvenirBook.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Avenir';
	src: url(../../public/fonts/AvenirBlack.ttf);
	font-weight: 800;
}

@font-face {
	font-family: 'Avenir';
	src: url(../../public/fonts/AvenirHeavy.ttf);
	font-weight: 900;
}

:root {
	--background: #ffffff;
	--foreground: #0a0a0a;
	--education: #ffb300;
	--healthcare: #d42c51;
	--international-medical: #8dc9a2;
	--academy: #52a8cd;
	--hover: #f3f4f6;
	--active: #f3f4f64d;
	--education-heroBanner: #0f75bd;
	--healthcare-heroBanner: #d42c51;
	--international-medical-heroBanner: #8dc9a2;
	--academy-heroBanner: #52a8cd;
	--dark-grey-heroBanner: #525252;
	--dark-grey: #303030;
	--dark-grey-rgb: 79, 79, 79;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #0a0a0a;
	}
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	color: var(--foreground);
	background: var(--background);
	font-family: Avenir, sans-serif;
	letter-spacing: 0.05em;
}
.swiper-slide {
	width: auto !important;
}
